body {
    font-family: "Roboto", sans-serif;
    color: var(--default-color);
}

:root {
    --active-color: #2196f3;
    --bcg2-color: #f5f4fa;
    --bcg1-color: #2f303a;
    --default-color: #212121;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    /* Jeśli wstawię 1200 to WSZYSTKO się rozjeżdża*/
    padding: 0 15px;
}

/* Subtitle to klasa dla h2*/

.subtitle {
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* HEADER */

.header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.top-part {
    display: flex;
}

.logo-h {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    text-align: center;

    color: var(--default-color);
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-left: 215px;
}
.logo-h:visited {
    color: var(--default-color);
}

.web-word {
    color: var(--active-color);
}

.header-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 46px;
}
.header-list-link {
    list-style: none;
    display: flex;
    justify-items: flex-end;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 32px;
    margin-right: 227px;
    margin-bottom: 32px;
    gap: 50px;
}

.header-list:hover {
    cursor: pointer;
    color: var(--active-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--default-color);
}

.header-link:hover {
    cursor: pointer;
    color: var(--active-color);
}

.header-link:focus {
    color: var(--active-color);
    outline: none;
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}
.header-contact:hover {
    cursor: pointer;
    color: var(--active-color);
}

.header-contact:focus {
    color: var(--active-color);
    outline: none;
}

/* MAIN */
/* Pierwsza sekcja */

.motto {
    background: #2f303a;
    padding: 94px;
}
.motto-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffffff;
    width: 696px;
}

.button-two {
    border: none;
    cursor: pointer;
    display: block;

    background-color: var(--active-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 193px;
    margin: auto;
    margin-bottom: 200px;
    height: 50px;
    width: 200px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
}

/* Druga sekcja */

.lorem {
    padding: 94px;
    padding-bottom: 0px;
}
.lorem-descrp {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.lorem-title {
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.lorem-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
}

/* Trzecia sekcja*/

.what-we-do {
    padding: 94px;
}
.bau {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 0px;
}

/* Czwarta sekcja*/

.nasz-zespol {
    background-color: #f5f4fa;
    padding: 94px;
}
.zespol {
    list-style: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    gap: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.info-block {
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;

    background: #ffffff;
}
.people-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
}
.job-position {
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/* FOOTER */

.footer {
    background-color: var(--bcg1-color);
    height: 252px;
}
.footer-format {
    padding-top: 60px;
}
.logo-f {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    color: var(--default-color);

    margin-left: 215px;

    margin-right: 1240px;
    margin-bottom: 20px;
}
.logo-f:visited {
    color: var(--default-color);
}
.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 20px;
    margin-left: 215px;
    margin-bottom: 60px;
    gap: 9px;
}
.place {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    letter-spacing: 0.03em;

    margin-bottom: auto;
    color: #ffffff;
}
.studio-footer {
    color: #ffffff;
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-link:hover {
    cursor: pointer;
    color: var(--active-color);
}

.footer-link:focus {
    color: var(--active-color);
    outline: none;
}

/* druga strona */
/* MAIN*/

/* przyciski */

.navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 518px 50px 510px;
}
.button {
    border: none;
    cursor: pointer;
    display: block;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    width: 91px;
    border-radius: 4px;
    padding: 0px 0px;
}
.button:hover {
    background-color: var(--active-color);
    color: #ffffff;
}
.button:focus {
    background-color: var(--active-color);
    color: #ffffff;
    outline: none;
}
.button:active {
    background-color: var(--active-color);
}

/* Obrazy */

.projects {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0px;
    margin: 0 auto;
    align-content: center;
    padding-bottom: 94px;
}
.info-block-two {
    flex-basis: calc((100% - 60px) / 3);

    background: #ffffff;
}
.borderline {
    border-bottom: 1px solid #eeeeee;
}

.picture {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}
.proj-title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.89;
    text-align: left;
    letter-spacing: 0.06em;
    color: var(--default-color);
    width: 322px;
    height: 36px;
    padding: 0px;
    margin: 20px 54px 4px 24px;
}
.proj-description {
    display: block;
    font-size: 16px;
    line-height: 1.89;
    text-align: left;
    letter-spacing: 0.03em;
    margin: 4px 54px 20px 24px;

    color: #757575;
}
